.container {
    overflow-x: hidden; /* Yatay kaydırmayı tamamen gizle */
}

.blaze-track-container {
    display: flex;
    overflow: hidden; /* Yatay kaydırmayı gizle */
}

.blaze-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
