.container {
    overflow-x: hidden; /* Yatay kaydırmayı tamamen gizle */
}

.blaze-track-container {
    display: flex;
    overflow: hidden; /* Yatay kaydırmayı gizle */
}

.blaze-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 500px) {
    .blaze-track > div {
        flex: 1 0 100%; /* Küçük ekranlarda her öğe %100 genişlikte olacak */
        max-width: 100%;
    }
}
